
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a routerLink="/"  class="navbar-brand" >
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/Pizza.svg/1200px-Pizza.svg.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Pizza Mania
  </a>
    <div class="navbar-nav" >
      <a routerLink="/formulaire" class="nav-item nav-link" href="#">Créer ma pizza</a>
      <a routerLink="/carte" class="nav-item nav-link" href="#">Carte</a>
      <a routerLink="/historique" class="nav-item nav-link" href="#">Historique</a>
    </div>
</nav>


