<div>
  <h1>Bienvenue sur Pizza Mania</h1>
  <br>
  <app-pizzafavorite></app-pizzafavorite>
  <br>
  <div class="card" >
    <div class="card-body">
      <h5 class="card-title">Pizza Custom</h5>
      <p class="card-text">Composer et commander votre pizza en cliquant sur le bouton ci-dessous !</p>
      <a  class="btn btn-primary" routerLink="/formulaire">Créer votre pizza !</a>
    </div>
  </div>
  <br>
  <div class="card" >
    <div class="card-body">
      <h5 class="card-title"><a  routerLink="/historique">Historique des commandes</a></h5>
      <p class="card-text">

        <app-historique></app-historique>
      </p>
    </div>
  </div>


</div>



